
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .pagination button {
    margin: 0 8px;
    padding: 8px 16px;
    background-color: #f0f0f0;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-weight: bold;
    color: #333;
  }
  
  .pagination button:hover {
    background-color: #e2e2e2;
    transform: translateY(-2px);
  }
  
  .button-pagination:disabled {
    background-color: #4caf50;
    color: white;
    cursor: not-allowed;
  }
  .button-pagination:disabled:hover {
    background-color: #4caf50;
    transform: translateY(0);
  }

